<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="admin/layout::header">
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

    <!--
        RTL version
    -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>

</head>

<body>

<!-- start loader -->
<div th:replace="admin/layout::pageloader"></div>
<!-- end loader -->
<!-- Start wrapper-->
<div id="wrapper">

    <div th:replace="admin/layout::sidebar"></div>

    <!--Start topbar header-->
    <header th:replace="admin/layout::navbar"></header>
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumb-->
            <div class="row pt-2 pb-2">
                <div class="col-sm-9">
                    <h4 class="page-title">Data Tables</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
                        <li class="breadcrumb-item"><a href="javaScript:void();">Tables</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                    </ol>
                </div>
                <div class="col-sm-3">
                    <div class="btn-group float-sm-right">
                        <a th:href="@{/admin/post}" class="btn btn-primary">Back</a>
                    </div>
                </div>
                <th:block th:if="${message}">
                    <h3 th:class="${'alert ' + alert + ' alert-dismissible '}" role="alert"
                         th:utext="${'<strong>'+term+'</strong>' + ' ' + message}">
                    </h3>
                </th:block>
            </div>
            <!-- End Breadcrumb-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header"><i class="fa fa-table" th:text="*{term}"></i></div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form class="form-horizontal form-label-left" th:action="@{/admin/post/}+${action}" th:object="${addPost}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Title</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text"  required class="form-control" placeholder="Content Title" maxlength="200" th:field="*{title}">
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="hidden"  required class="form-control" placeholder="Content Title" th:field="*{date}">
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Category</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <select  class="select_Category form-control" th:field="*{category}" >
                                                <option th:each="categories : ${categoryList}"
                                                        th:value="${categories.id}"
                                                        th:text="${categories.title}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Description</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <textarea class="form-control" required placeholder="Description" minlength="5" th:field="*{description}" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="content" class=" form-control-label">Content</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea id="content" class="form-control" required placeholder="Content" minlength="5" th:field="*{content}" rows="3"></textarea>
                                            <small class="form-text text-muted"></small>
                                        </div>
                                    </div>
                                    <th:block th:if="${action=='edit'}">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Current Image</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="hidden" th:field="*{image}" class="form-control">
                                                <img th:src="@{/upload/__*{image}__}" class="image" height="120">
                                            </div>
                                        </div>
                                    </th:block>
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Image</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="file" th:field="*{fileImage}" class="fileDatas form-control">
                                        </div>
                                    </div>
                                    <input name="listTag" type="hidden" id="listTag">
                                    <input type="hidden" th:field="*{numberView}">
                                    <input type="hidden" th:field="*{numberLike}">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 ">select</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <select id="tags" name="tags" class="form-control" multiple="multiple" required>
                                                <option th:each="row : ${tag}" th:text="${row.title}"
                                                        th:value="${row.id}"
                                                        th:selected="${row.selected==true}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9  offset-md-3">
                                            <button type="reset" class="btn btn-primary">Reset</button>
                                            <button id="btn" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->
        </div>
        <!-- End container-fluid-->

    </div>


    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->
</div>
<!-- End container-fluid-->

</div><!--End content-wrapper-->
<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->

<!--Start footer-->
<!--<footer th:replace="/admin/layout::footer"></footer>-->
<!--End footer-->

<!--start color switcher-->
<div th:replace="admin/layout::theme"></div>
<!--end color switcher-->

</div><!--End wrapper-->
<th:block th:replace="admin/layout::Js"></th:block>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<!--<th:block th:if="${message!=null}">-->
<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            Lobibox.alert(type, //AVAILABLE TYPES: "error", "info", "success", "warning"-->
<!--                {-->
<!--                    msg: "Lorem ipsum dolor sit amet byron frown tumult minstrel wicked clouded bows columbine full"-->
<!--                });-->
<!--        });-->
<!--    </script>-->
<!--</th:block>-->
<script>
    $('#content').summernote({
        placeholder: 'Content',
        tabsize: 2,
        height: 100
    });
    function setImage() {
        var s = $('.fileDatas').val();
        var i = s.split('\\').pop().split('/').pop();
        $('#imageShow').val(i);
    }
    function f() {
        $('#listTag').val($("#tags").select2("val"));
    }

    $(document).ready(function () {
        $('#tags').select2();
    })

</script>
</body>
</html>
