<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TopDev Blogs | Blog IT dành cho Developers</title>
    <th:block th:replace="user/layout::link">
    </th:block>
</head>
<body>
<div th:replace="user/layout::preloader"></div>
<div th:replace="user/layout::navbar"></div>


<section class="hero--area section-padding-80">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="post-1" role="tabpanel" aria-labelledby="post-1-tab">
                        <!-- new post Post -->
                        <div class="single-feature-post video-post bg-img">
                            <img th:src="@{/upload/__${postHeader.image}__}">
                            <div class="post-content">
                                <a th:href="${'/category/' + postHeader.getCategory().id}" class="post-cata" th:text="${postHeader.category.title}"></a>
                                <a th:href="@{/view/__${postHeader.id}__}" class="post-title" th:text="${postHeader.title}"></a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${postHeader.getNumberView()}"></span></a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${postHeader.getNumberLike()}"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4">
                <ul class="nav vizew-nav-tab" role="tablist">
                    <th:block th:each="postHome,iter : ${postHome}">
                        <li class="nav-item">
                            <div class="nav-link" role="tab"  aria-selected="true">
                                <!-- Single Blog Post -->
                                <div class="single-blog-post style-2 d-flex align-items-center">
                                    <div class="post-thumbnail">
                                        <img th:src="@{/upload/__${postHome.image}__}" alt="">
                                    </div>
                                    <div class="post-content">
                                        <!--                                        <h6 class="post-title" th:text="${postHome.title}"></h6>-->
                                        <a th:href="@{/view/{id}(id=${postHome.getId()})}" class="post-title" th:text="${postHome.title}"></a>
                                        <div class="post-meta d-flex justify-content-between">
                                            <span><i class="fa fa-comments-o" aria-hidden="true"></i> 25</span>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${postHome.getNumberView()}"></span></a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${postHome.getNumberLike()}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- ##### Trending Posts Area Start #####-->
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>Trending Posts</h4>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Blog Post -->
            <th:block th:each="findtrendingpost,iter : ${findtrendingpost}">
                <div class="col-12 col-md-4">
                    <div class="single-post-area mb-80">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img th:src="@{/upload/__${findtrendingpost.image}__}" alt="" style="height:200px !important; width: 300px !important;">
                        </div>

                        <!-- Post Content -->
                        <div class="post-content">
                            <a th:href="${'/category/' + findtrendingpost.getCategory().id}" class="post-cata cata-sm cata-success"th:text="${findtrendingpost.category.title}"></a>
                            <a th:href="@{/view/__${findtrendingpost.id}__}" class="post-title" th:text="${findtrendingpost.title}"></a>
                            <div class="post-meta d-flex">
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>50</a>
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${findtrendingpost.getNumberView()}"></span></a>
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${findtrendingpost.getNumberLike()}"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    </div>

    </div>
</section>
<!-- ##### Trending Posts Area End ##### -->

<!-- ##### Vizew Post Area Start ##### -->
<section class="vizew-post-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="all-posts-area">
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <a th:href="@{/category/__${postcontentbycate.get(0).getCategory().id}__}"><h4 th:text="*{postcontentbycate.get(0).getCategory().title}"></h4></a>
                        <div class="line"></div>
                    </div>

                    <!-- Featured Post Slides -->
                    <div class="featured-post-slides owl-carousel mb-30" >
                        <!-- Single Feature Post -->
                        <th:block th:each="postcontentbycate,iter : ${postcontentbycate}">
                            <div class="single-feature-post video-post bg-img" >
                                <img th:src="@{/upload/__${postcontentbycate.image}__}" alt="">
                                <div class="post-content">
                                    <a th:href="${'/category/' + postcontentbycate.getCategory().id}" class="post-cata" th:text="${postcontentbycate.category.title}"></a>
                                    <a th:href="@{/view/__${postcontentbycate.id}__}" class="post-title" th:text="${postcontentbycate.title}"></a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${postcontentbycate.getNumberView()}"></span></a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${postcontentbycate.getNumberLike()}"></span></a>
                                    </div>
                                </div>
                                <span class="video-duration"></span>
                            </div>
                        </th:block>
                    </div>

                    <div class="row">
                        <th:block th:each="postcontentbylast,iter : ${postcontentbylast}">
                            <div class="col-12 col-md-6">
                                <div class="single-post-area mb-80">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img th:src="@{/upload/__${postcontentbylast.image}__}" alt="" style="height:200px !important; width: 300px !important;">
                                        <!-- Video Duration -->
                                        <span class="video-duration"></span>
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a th:href="${'/category/' + postcontentbylast.getCategory().id}" class="post-cata cata-sm cata-primary" th:text="${postcontentbylast.category.title}"></a>
                                        <a th:href="@{/view/__${postcontentbylast.id}__}" class="post-title" th:text="${postcontentbylast.title}"></a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${postcontentbylast.getNumberView()}"></span></a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${postcontentbylast.getNumberLike()}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <!-- Section Heading -->
                            <div class="section-heading style-2">
                                <a th:href="@{/category/__${first3post.get(0).getCategory().id}__}"><h4 th:text="*{first3post.get(0).getCategory().title}"></h4></a>
                                <div class="line"></div>
                            </div>
                            <!-- Sports Video Slides -->
                            <div class="sport-video-slides owl-carousel mb-50">
                                <!-- Single Blog Post -->
                                <th:block th:each="first3post,iter : ${first3post}">
                                    <div class="single-post-area">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img th:src="@{/upload/__${first3post.image}__}" alt="" style="height:200px !important; width: 300px !important;">
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a th:href="${'/category/' + first3post.getCategory().id}" class="post-cata cata-sm cata-success" th:text="${first3post.category.title}"></a>
                                            <a th:href="@{/view/__${first3post.id}__}" class="post-title" th:text="${first3post.title}" style="height: 100px"></a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${first3post.getNumberView()}"></span></a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${first3post.getNumberLike()}"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <th:block th:each="last2post,iter : ${last2post}">
                                <div class="col-12">
                                    <div class="single-blog-post style-3 d-flex mb-50">
                                        <div class="post-thumbnail">
                                            <img th:src="@{/upload/__${last2post.image}__}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a th:href="@{/view/__${last2post.id}__}" class="post-title" th:text="${last2post.title}"></a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${last2post.getNumberView()}"></span></a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${last2post.getNumberLike()}"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>

                        <div class="col-12 col-lg-6">
                            <!-- Section Heading -->
                            <div class="section-heading style-2">
                                <a th:href="@{/category/__${first3postid3.get(0).getCategory().id}__}"><h4 th:text="*{first3postid3.get(0).getCategory().title}"></h4></a>
                                <div class="line"></div>
                            </div>

                            <!-- Business Video Slides -->
                            <div class="business-video-slides owl-carousel mb-50">
                                <th:block th:each="first3postid3,iter : ${first3postid3}">
                                    <div class="single-post-area">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img th:src="@{/upload/__${first3postid3.image}__}" alt="" style="height:200px !important; width: 300px !important;">
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a th:href="${'/category/' + first3postid3.getCategory().id}" class="post-cata cata-sm cata-success" th:text="${first3postid3.category.title}"></a>
                                            <a th:href="@{/view/__${first3postid3.id}__}" class="post-title" th:text="${first3postid3.title}" style="height: 150px"></a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${first3postid3.getNumberView()}"></span></a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${first3postid3.getNumberLike()}"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <th:block th:each="last2postid3,iter : ${last2postid3}">
                                <div class="col-12">
                                    <div class="single-blog-post style-3 d-flex mb-50">
                                        <div class="post-thumbnail">
                                            <img th:src="@{/upload/__${last2postid3.image}__}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a th:href="@{/view/__${last2postid3.id}__}" class="post-title" th:text="${last2postid3.title}"></a>
                                            <div class="post-meta d-flex justify-content-between">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 16</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${last2postid3.getNumberView()}"></span></a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${last2postid3.getNumberLike()}"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!-- SectionHeading -->
                    <div class="section-heading style-2">
                        <h4>Tin Mới Nhất</h4>
                        <div class="line"></div>
                    </div>

                    <!-- Featured Post Slides -->
                    <div class="featured-post-slides owl-carousel mb-30">
                        <!-- Single Feature Post -->
                        <th:block th:each="newpost3,iter : ${newpost3}">
                            <div class="single-feature-post video-post bg-img">
                                <img th:src="@{/upload/__${newpost3.image}__}" alt="">
                                <div class="post-content">
                                    <a th:href="${'/category/' + newpost3.getCategory().id}" class="post-cata" th:text="${newpost3.category.title}"></a>
                                    <a th:href="@{/view/__${newpost3.id}__}" class="post-title" th:text="${newpost3.title}"></a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${newpost3.getNumberView()}"></span></a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${newpost3.getNumberLike()}"></span></a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <!-- Single Post Area -->
                    <th:block th:each="data,iter : ${data}">
                        <div class="single-post-area mb-30">
                            <div class="row align-items-center">
                                <div class="col-12 col-lg-6">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img th:src="@{/upload/__${data.image}__}" alt="" style="height:200px !important; width: 300px !important;">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <!-- Post Content -->
                                    <div class="post-content mt-0">
                                        <a th:href="${'/category/' + data.getCategory().id}" class="post-cata cata-sm cata-success" th:text="${data.category.title}"></a>
                                        <a th:href="@{/view/__${data.id}__}" class="post-title mb-2" th:text="${data.title}"></a>
                                        <div class="post-meta d-flex align-items-center mb-2">
                                            <a href="#" class="post-author">VNHZero</a>
                                            <i class="fa fa-circle" aria-hidden="true"></i>
                                            <a href="#" class="post-date" th:text="${data.date}"></a>
                                        </div>
                                        <!--                                        <p class="mb-2">Quisque mollis tristique ante. Proin ligula eros, varius id tristique sit amet, rutrum non ligula.</p>-->
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${data.getNumberView()}"></span></a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${data.getNumberLike()}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <th:block>
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:each="i : ${#numbers.sequence(0,data.totalPages - 1 )}">
                                <a th:href="@{/(page=${i})}" th:text="${i}" class="page-link"></a>
                            </li>
                        </ul>
                    </th:block>
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget followers-widget mb-50">
                        <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="counter">198</span><span>Fan</span></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span class="counter">220</span><span>Followers</span></a>
                        <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i><span class="counter">140</span><span>Subscribe</span></a>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget latest-video-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Latest Posts</h4>
                            <div class="line"></div>
                        </div>
                        <th:block th:each="findnewpostby5,iter : ${findnewpostby5}">
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <img th:src="@{/upload/__${findnewpostby5.image}__}" alt="">
                                </div>
                                <div class="post-content">
                                    <a th:href="@{/view/__${findnewpostby5.id}__}" class="post-title" th:text="${findnewpostby5.title}"></a>
                                    <div class="post-meta d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 29</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${findnewpostby5.getNumberView()}"></span></a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${findnewpostby5.getNumberLike()}"></span></a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div th:replace="user/layout::widget"></div>

                    <!-- ***** Sidebar Widget ***** -->
                    <div th:replace="user/layout::hotchannel"></div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget newsletter-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Newsletter</h4>
                            <div class="line"></div>
                        </div>
                        <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                        <!-- Newsletter Form -->
                        <div class="newsletter-form">
                            <form action="#" method="post">
                                <input type="email" name="nl-email" class="form-control mb-15" id="emailnl" placeholder="Enter your email">
                                <button type="submit" class="btn vizew-btn w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Most Viewed Playlist</h4>
                            <div class="line"></div>
                        </div>
                        <th:block th:each="findmostview,iter : ${findmostview}">
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <img th:src="@{/upload/__${findmostview.image}__}" alt="">
                                </div>
                                <div class="post-content">
                                    <a th:href="@{/view/__${findmostview.id}__}" class="post-title" th:text="${findmostview.title}"></a>
                                    <div class="post-meta d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                        <div><i class="fa fa-eye"></i><span th:text="${findmostview.getNumberView()}"></span></div>
                                        <!--                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>-->
                                        <div><i class="fa fa-thumbs-o-up"></i><span th:text="${findmostview.getNumberLike()}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Vizew Psot Area End ##### -->
<footer th:replace="user/layout::views-footer"></footer>
<th:block th:replace="user/layout::Javascript">
</th:block>

</body>
</html>