<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vizew - Blog &amp; Magazine HTML Template</title>
    <th:block th:replace="user/layout::link">
    </th:block>
</head>

<body>

<div th:replace="user/layout::preloader"></div>
<header th:replace="user/layout::navbar"></header>
<input id="id" type="hidden" th:field="*{postContent.id}">
<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-details-thumb mb-50">
                    <!--                    <img th:src="@{/upload/__${postContent.image}__}" alt="">-->
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <input type="hidden" id='idPost' th:value="${postContent.id}">
                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a th:href="${'/category/' + postContent.getCategory().id}"class="post-cata cata-sm cata-danger"
                               th:text="${postContent.category.title}"></a>
                            <a th:href="@{/view/__${postContent.id}__}" class="post-title mb-2"
                               th:text="${postContent.title}">

                            </a>
                            <!--                            th:id="${'like'+postContent.id}" th:text="${postContent.numberLike}"-->
                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex">
                                    <!--                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>-->
                                    <div class="btn btn-group btn-group-sm">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i><span
                                                th:text="${views}"></span></button>
                                        <button type="button" class="btn btn-primary" th:id="${'like'+postContent.id}"
                                                th:text="${postContent.numberLike}"></button>
                                        <button type="button" class="btn btn-primary" onclick="like()"
                                                aria-hidden="true" id="off"><i class="fa fa-thumbs-o-up"></i></button>
                                        <!--                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span th:utext="${postContent.content}"></span>
                        </div>

                        <div class="post-tags mt-30">
                            <ul>
                                <li th:each="row ,rowStat : ${tag}">
                                    <a href="#" th:text="${row.title}"></a></li>

                            </ul>
                        </div>

                        <div class="related-post-area mt-5">
                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Related Post</h4>
                                <div class="line"></div>
                            </div>

                            <div class="row">
                                <!-- Single Blog Post -->
                                <div class="col-12 col-md-6" th:each="row:${postCate}">
                                    <div class="single-post-area mb-50">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img th:src="@{/upload/__${row.image}__}" alt="">
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a class="post-title" th:text="${row.title}"
                                               th:href="@{/view/{id}(id=${row.getId()})}"></a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${row.getNumberView()}"></span></a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${row.getNumberLike()}"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-50">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Comment</h4>
                                <div class="line"></div>
                            </div>

                            <ul id="comment">
                            </ul>
                        </div>

                        <!-- Post A Comment Area -->
                        <div class="post-a-comment-area">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Leave a reply</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form id="formAddEdit" name="formAddEdit">
                                    <div class="row">
                                        <div class="col-12 col-lg-6" >
                                            <input type="text" class="form-control" name="name" id="name"
                                                   placeholder="Your Name*" required style="background-color:#ffffff !important;">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="email" class="form-control" name="email" id="email"
                                                   placeholder="Your Email*" required style="background-color:#ffffff !important;">
                                        </div>
                                        <div class="col-12">
                                            <textarea class="form-control" name="writeComment" id="writeComment"
                                                      placeholder="Message*" required style="background-color:#ffffff !important;"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn vizew-btn mt-30" type="button" onclick="messages.save()">
                                                Submit Comment
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget share-post-widget mb-50">
                        <p>Share This Post</p>
                        <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                        <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                        <a class="google"><i class="fa fa-google" aria-hidden="true"></i> Google+</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<footer th:replace="user/layout::views-footer"></footer>
<th:block th:replace="user/layout::Javascript">
</th:block>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>
<script>
    var messages = {} || messages;


    var like = function () {
        let idPost = $('#idPost').val()
        $.ajax({
            url: `https://techblogsvn.herokuapp.com/api/like/` + idPost,
            method: `GET`,
            dataType: `json`,
            contentType: 'json',
            success: function (data) {
                let idLike = "like" + data.id;
                document.getElementById(idLike).innerHTML = data.numberLike;
                document.getElementById("off").disabled = true;

            }
        });
    }
    messages.get = function () {
        let id = $('#id').val();
        $.ajax({
            url: `https://techblogsvn.herokuapp.com/api/messagesS/` + id,
            method: `GET`,
            dataType: `json`,
            contentType: 'json',
            success: function (data) {
                $('#comment').empty();
                console.log(data);
                $.each(data, function (i, cmt) {
                    $('#comment').append(
                        `<li class="single_comment_area">
                                    <!-- Comment Content -->
                        <div class="comment-content d-flex">
                            <!-- Comment Author -->
                        <div class="comment-author">
                        <img src="../../../assets-user/img/core-img/laptrinh.jpg" alt="author">
                        </div>
                            <!-- Comment Meta -->
                        <div class="comment-meta">
                        <a href="#">${cmt.date}</a>
                        <h6>${cmt.name}</h6>
                        <p>${cmt.writeComment}</p>
                        <div class="d-flex align-items-center">
                        </div>
                        </div>
                        </div>
                        </li>`


                        )
                        })


            },
            error:function (data) {
                $('#comment').empty();
                console.log(data);
                $.each(data, function (i, cmt) {
                    $('#comment').append(
                        `<li class="single_comment_area">
                                    <!-- Comment Content -->
                        <div class="comment-content d-flex">
                            <!-- Comment Author -->
                        <div class="comment-author">
                        <img src="../../../assets-user/img/core-img/laptrinh.jpg" alt="author">
                        </div>
                            <!-- Comment Meta -->
                        <div class="comment-meta">
                        <h6>${cmt.name}</h6>
                        <p>${cmt.writeComment}</p>
                        <div class="d-flex align-items-center">
                        <a href="#" class="like">like</a>
                        <a href="#" class="reply">Reply</a>
                        </div>
                        </div>
                        </div>
                        </li>`


                        )
                        })


            }


        })
    }
    messages.clear = function () {
        $('#name').val('');
        $('#email').val('');
        $('#writeComment').val('');
    }

    messages.save = function () {
        var messagesObj = {};
        messagesObj.name = $('#name').val();
        messagesObj.email = $('#email').val();
        messagesObj.writeComment = $('#writeComment').val();

        var postContentObj = {};
        postContentObj.id = $("#id").val();
        messagesObj.post = postContentObj;


        $.ajax({
            url: "https://techblogsvn.herokuapp.com/api/messages/",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(messagesObj),
            success: function (data) {
                messages.get();
                messages.clear();
            }
        });
    }

    $(document).ready(function () {
        messages.get();
    });
</script>

</body>


</html>